<div class="ship">
  <h3 class="ship__name">
    {{ spaceShip.shipModel }}
  </h3>
  <img class="ship__image"
       [title]="spaceShip.shipModel"
       [src]="spaceShip.shipImage">
  <div class="ship__health"
       [title]="'Ship health: ' + spaceShip.shipHealth + '%'">
    <div [style.width.%]="spaceShip.shipHealth"></div>
  </div>
  <div class="ship__accessories accessories">
    <img class="accessories__weapon"
         [src]="spaceShip.shipWeaponImage"
         [title]="'Weapon is active!'"
         *ngIf="spaceShip.shipWeaponActive">
    <img class="accessories__shield"
         [src]="spaceShip.shipShieldImage"
         [title]="'Shield is active!'"
         *ngIf="spaceShip.shipShieldActive">
  </div>
  <div class="ship__pilot" *ngIf="spaceShip.pilot">
    <img [src]="spaceShip.pilot.imageUrl" [title]="spaceShip.pilot.fullName">
  </div>
</div>
