:host {
  text-align: center;
}

.ship {
  position: relative;
  margin: 0 0 55px;
  display: inline-block;
  max-width: 80%;
  text-align: center;
  &__name {
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  &__image {
    max-width: 80%;
    margin: 0 auto;
  }
  &__health {
    margin-top: 10px;
    width: 100%;
    height: 10px;
    background-color: #ff0000;
    display: block;
    div {
      background-color: #adff2f;
      display: block;
      height: 10px;
    }
  }
  &__accessories {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: right;
    img {
      max-width: 30px;
      margin-left: 10px;
    }
  }
  &__pilot {
    position: absolute;
    bottom: 10px;
    text-align: left;
    img {
      max-width: 60px;
      text-align: right;
    }
  }
  &__buttons {
    bottom: -50px;
    left: 0;
    position: absolute;
    height: 40px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }
}
